#head {
    background: url("img/background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.app-title {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: -2rem;
    color: white;
    text-shadow: 0 2px 3px rgba(0,0,0,.42)
}

.app-subtitle {
    color: white;
    opacity: .76;
    font-size: 2rem;
}

.macosversion {
    color: white;
    opacity: .76;
}

.footer-link {
    padding: 0px 0px 0px 10px;
}